.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 0px;
}

.househead {
  margin: 50px;
}

.phone {
  margin: 50px;
}

.employment {
  margin: 50px;
}

.fa {
  margin-right: 5px;
}

strong {
  margin-right: 5px;
}
